<h1 class="ms-3 my-5"><i class="bi bi-cart3"></i> Finaliza tu compra</h1>
<div class="row mx-2">
    <div class="col-8 row">
        <div class="col-6">
            <h3><i class="bi bi-person-vcard"></i> Identificate</h3>
            <div class="mb-3">
                <label for="" class="form-label">Correo*</label>
                <input type="text" class="form-control" name="" id="">
            </div>

            <div class="input-group mb-3 justify-content-between">
                <div>
                    <label for="" class="form-label">Nombre*</label>
                    <input type="text" class="form-control" name="" id="">
                </div>
                <div class="ms-2">
                    <label for="" class="form-label">Apellidos*</label>
                    <input type="text" class="form-control" name="" id="">
                </div>
            </div>
            <div class="input-group mb-3 justify-content-between">
                <div>
                    <label for="" class="form-label">Tipo de documento*</label>
                    <select name="" id="" class="form-select">
                        <option value="">DNI</option>
                        <option value="">RUC</option>
                    </select>
                </div>
                <div>
                    <label for="" class="form-label">Documento*</label>
                    <input type="text" class="form-control" name="" id="">
                </div>
            </div>
            <div class="mb-3">
                <label for="" class="form-label">Telefono*</label>
                <input type="text" class="form-control" name="" id="">
            </div>
            <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" id="terms">
                    <label class="form-check-label" for="terms">
                        Acepto los terminos y condiciones de mensfashionshop.com y autorizo la <a href="#">política de privacidad</a>.
                    </label>
            </div>


        </div>
        <div class="col-6">
            <h3><i class="bi bi-truck"></i> Envio</h3>
            <div class="mb-3">
                <label for="" class="form-label">Departamento*</label>
                <input type="text" class="form-control" name="" id="">
            </div>
            <div class="mb-3">
                <label for="" class="form-label">Provincia*</label>
                <input type="text" class="form-control" name="" id="">
            </div>
            <div class="mb-3">
                <label for="" class="form-label">Distrito*</label>
                <input type="text" class="form-control" name="" id="">
            </div>
            <p class="text-center">Complete su direccion de entrega</p>
            <div class="input-group mb-3 justify-content-between">
                <div>
                    <label for="" class="form-label">Calle*</label>
                    <input type="text" class="form-control" name="" id="">
                </div>
                <div class="ms-2">
                    <label for="" class="form-label">Numero*</label>
                    <input type="text" class="form-control" name="" id="">
                </div>
            </div>

            <div class="mb-3">
                <label for="" class="form-label">Referencia*</label>
                <input type="text" class="form-control" name="" id="">
            </div>
            <div class="mb-3">
                <label for="" class="form-label">Destinatario*</label>
                <input type="text" class="form-control" name="" id="">
            </div>
        </div>
    </div>
    <div class="col-4 row ms-2">
        <div class="col-12 p-4 mb-4 resumen-contenedor">
            <h3 class="mb-3 text-center">RESUMEN DE SU COMPRA</h3>
            <div class="mb-3">
                <div id="" class="mb-3 col row g-0">
                    <div class="resumen-img col-4">
                        <img src="assets/images/polo2.jpg" alt="...">
                    </div>
                    <div class="resumen-contenido col-8 row g-0">
                        <div class="col-12 d-flex align-items-baseline justify-content-between">
                            <p class="resumen-producto-nombre">POLO OVERSIZE NEGRO OVERTAKE</p>
                        </div>
                        <div class="col-12 d-flex align-items-center justify-content-between">
                            <span class="m-0 resumen-producto-cantidad">Cant: 1</span>
                            <span class="m-0 resumen-producto-precio">S/49.90</span>
                        </div>
                    </div>
                </div>
                <div id="" class="mb-3 col row g-0">
                    <div class="resumen-img col-4">
                        <img src="assets/images/polo3.jpg" alt="...">
                    </div>
                    <div class="resumen-contenido col-8 row g-0">
                        <div class="col-12 d-flex align-items-baseline justify-content-between">
                            <p class="resumen-producto-nombre">POLO OVERSIZE NEGRO OVERTAKE</p>
                        </div>
                        <div class="col-12 d-flex align-items-center justify-content-between">
                            <span class="m-0 resumen-producto-cantidad">Cant: 1</span>
                            <span class="m-0 resumen-producto-precio">S/49.90</span>
                        </div>
                    </div>
                </div>
                <div id="" class="mb-3 col row g-0">
                    <div class="resumen-img col-4">
                        <img src="assets/images/polo.jpg" alt="...">
                    </div>
                    <div class="resumen-contenido col-8 row g-0">
                        <div class="col-12 d-flex align-items-baseline justify-content-between">
                            <p class="resumen-producto-nombre">POLO OVERSIZE NEGRO OVERTAKE</p>
                        </div>
                        <div class="col-12 d-flex align-items-center justify-content-between">
                            <span class="m-0 resumen-producto-cantidad">Cant: 1</span>
                            <span class="m-0 resumen-producto-precio">S/49.90</span>
                        </div>
                    </div>
                </div>
            </div>
            <table class="table resumen-monto">
                <tr class="">
                    <td>SUBTOTAL:</td>
                    <td class="text-end">S/.131.80</td>
                </tr>
                <tr class="">
                    <td>DESCUENTOS:</td>
                    <td class="text-end">S/.20.00</td>
                </tr>
                <tr class="">
                    <td>TOTAL:</td>
                    <td class="text-end">S/.20.00</td>
                </tr>
            </table>
        </div>
        <div class="col-12 p-0">
            <button class="form-control btn-finalizar-compra">FINALIZAR COMPRA</button>
        </div>
    </div>
</div>