<!--h1 class="center">Portal del administrador</h1>
<div>
    <div class="container fondo">
        <form>
            <div class="form-floating mb-3">
                <input type="email" class="form-control rounded-3" id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput">Correo Electrónico:</label>
            </div>
            <div class="form-floating mb-3">
                <input type="password" class="form-control rounded-3" id="floatingPassword" placeholder="Password">
                <label for="floatingPassword">Contraseña:</label>
            </div>
        </form>
        <div>
            <button type="password" class="form-control rounded-3" id="floatinglogin">
                <label for="floatingPassword"> Ingresar</label></button>
        </div>
    </div>
    // FIN DE LOGIN administrador-->
    <body><br>
        <div>

            <h1>Admin Portal - Tienda de Ropa</h1>
            <form id="productForm" class="container ">
                <h1>Agregar Producto</h1>
                <label for="nombre">Nombre:</label>
                <input type="text" id="nombre" name="nombre" [(ngModel)]="producto!.nombre" required>

                <label for="fotdscrp">Foto Principal:</label>
                <input type="file" id="mainPhoto" name="mainPhoto" accept="image/*" required>

                <label for="description">Descripción:</label>
                <textarea id="description" name="description" [(ngModel)]="producto!.descripcion" required></textarea>

                <label for="descriptionPhotos">Fotos de la Descripción:</label>
                <input type="file" id="descriptionPhotos1" name="descriptionPhotos1" accept="image/*" multiple>

                <label for="price">Precio Compra:</label>
                <input type="number" min="0" id="precioCompra" name="precioCompra" step="0.01"
                    [(ngModel)]="producto!.precioCompra" required>

                <label for="price">Precio Venta:</label>
                <input type="number" min="0" id="precioVenta" name="precioVenta" step="0.01"
                    [(ngModel)]="producto!.precioVenta" required>

                <label for="price">Precio Regular:</label>
                <input type="number" min="0" id="precioRegular" name="precioRegular" step="0.01"
                    [(ngModel)]="producto!.precioRegular" required>

                <label for="categoria">Categoria:</label>
                <select id="categoria" name="categoria" [(ngModel)]="producto!.categoria" required>
                    <option *ngFor="let cat of categorias" [ngValue]="cat">{{cat.nombre}}</option>
                </select>

                <label for="marca">Marca:</label>
                <select id="marca" name="marca" [(ngModel)]="producto!.marca" required>
                    <option *ngFor="let m of marcas" [ngValue]="m">{{m.nombre}}</option>
                </select>   

                <div class="inventario-container mt-2">
                    <p>Inventario</p>
                    <div class="input-group mb-3">
                        <div class="form-control border-0">
                            <label for="colors">Color:</label>
                            <select class="form-control" id="colors" [(ngModel)]="color" name="colors" required>
                                <option *ngFor="let c of colores" [ngValue]="c">{{c.nombre}}</option>
                                <!--option disabled selected>color</option-->
                            </select>
                        </div>
                        <div class="form-control border-0">
                            <label for="sizes">Talla:</label>
                            <select class="form-control" [(ngModel)]="talla" id="sizes" name="sizes" required>
                                <option *ngFor="let t of tallas" [ngValue]="t">{{t.nombre}}</option>
                            </select>
                        </div>
                        <div class="form-control border-0">
                            <label for="stock">Stock:</label>
                            <input class="form-control" [(ngModel)]="stock" type="number" min="0" id="stock"
                                name="stock" placeholder="Stock" required>
                        </div>

                        <button class="form-control" (click)="agregarInventario()" id="btnAddInventario">+</button>

                    </div>
                    <div class="inventario-options">

                    </div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Color</th>
                                <th>Talla</th>
                                <th>Stock</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let i of inventario; let ind = index">
                                <!--td>
                                    <select class="" [(ngModel)]="inventario[ind].color" [name]="'color'+ind">
                                        <option *ngFor="let c of colores;  trackBy: trackByFn" [ngValue]="c">{{c.nombre}}</option>
                                        
                                    </select>
                                    
                                </td-->
                                <td>{{i.color?.nombre}}</td>
                                <td>{{i.talla?.nombre}}</td>
                                <td>{{i.stock}}</td>
                                <!--td>
                                    <button (click)="editarItem(ind, i)">editar</button>
                                    <button (click)="eliminarItem(ind)" >eliminar</button>
                                </td-->
                            </tr>
                        </tbody>
                    </table>

                </div>
                <button type="button" (click)="saveProducto(producto!)">Agregar Producto</button>
            </form>
        </div><br>

    </body><br>
    <h1 class="center">INVENTARIO</h1>
    <div>
        <table class="table table-striped table-bordered inventory">
            <thead>
                <th>TItulo</th>
                <th>Cantidad</th>
                <th>Color</th>
                <th>Corte</th>
                <th>Talla</th>
                <th width="250px">Action</th>
            </thead>
            <tbody>
                <tr>
                    <td>sin valor</td>
                    <td>sin valor</td>
                    <td>sin valor</td>
                    <td>sin valor</td>
                    <td>sin valor</td>
                    <td><button type="button" class="btn btn-primary">Editar</button>
                        <button type="button" class="btn btn-primary">
                            Eliminar</button>
                    </td>
                </tr>
            </tbody>
            <tfoot align="center">
                <button type="button" class="btn btn-primary ">GUARDAR</button>
            </tfoot>
        </table>
    </div>