/* Importa una fuente más elegante con diferentes pesos */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=from');

/* Ajuste general */
.card {
    border: none;
    margin-bottom: 1rem; /* Reduce el espacio entre las tarjetas */
    font-family: 'Roboto', sans-serif; /* Aplica la nueva fuente */
}

.card-body {
    text-align: center;
    padding: 1rem; /* Ajusta el padding interno */
}

.product-card-name .product-name {
    text-align: center;
    color: #b0b0b0; /* Plomo más claro */
    font-size: 14px; /* Ajusta el tamaño de la fuente */
    font-weight: 500; /* Peso de la fuente intermedio */
    text-transform: uppercase;
    margin-bottom: 0rem; /* Quita el margen inferior */
    padding-bottom: 0rem; /* Quita el padding inferior */
    letter-spacing: 0.1rem; /* Añade la separación entre letras */
}

.product-card-brand .product-brand {
    text-align: center;
    font-size: 14px; /* Ajusta el tamaño de la fuente */
    color: black;
    font-weight: 500; /* Peso de la fuente intermedio */
    text-transform: uppercase;
    margin-top: 0rem; /* Quita el margen superior */
    margin-bottom: 0rem; /* Quita el margen inferior */
    padding-top: 0rem; /* Quita el padding superior */
    padding-bottom: 0rem; /* Quita el padding inferior */
    letter-spacing: 0.1rem; /* Añade la separación entre letras */
}

.product-card-price {
    display: flex; 
    justify-content: center; /* Centra los precios */
    align-items: center; /* Alinea verticalmente los precios */
    font-size: 14px;
    margin-top: 0.2rem; /* Reduce el espacio superior */
    margin-bottom: 0.2rem; /* Reduce el espacio inferior */
    letter-spacing: 0.05rem; /* Añade la separación entre letras */
}

.line {
    text-decoration: line-through;
    color: red;
    margin-right: 0.5rem; /* Ajusta el espacio entre los precios */
    letter-spacing: 0.05rem; /* Añade la separación entre letras */
}

.regular-price {
    color: gray;
    letter-spacing: 0.05rem; /* Añade la separación entre letras */
}

.discount-price {
    font-weight: 500; /* Peso de la fuente intermedio */
    color: red; /* Asegura que el precio con descuento sea rojo */
    letter-spacing: 0.05rem; /* Añade la separación entre letras */
}

.product-card-discount {
    text-align: center;
    margin-top: 0.2rem; /* Reduce el margen superior */
}

.product-card-discount .discount-label {
    background: black; /* Cambia el fondo a negro */
    border-radius: 10px;
    padding: 5px 10px;
    font-weight: 500; /* Peso de la fuente intermedio */
    color: white; /* Cambia el color del texto a blanco */
    font-size: 12px; /* Ajusta el tamaño de la fuente */
    text-transform: uppercase; /* Convierte el texto a mayúsculas */
    letter-spacing: 0.1rem; /* Añade la separación entre letras */
}

.card-img-container {
    height: 250px;
    width: 100%;
}

.card-img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
