<form>
    <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0,ngb-panel-1,ngb-panel-2">
      <ngb-panel title="Marca" class="prt bg-none">
        <ng-template ngbPanelContent>
          <div class="form-check" *ngFor="let marca of marcas">
            <input class="form-check-input" type="checkbox" [value]="marca" (change)="onFilterChange($event, 'marca')">
            <label class="form-check-label">{{ marca | capitalize }}</label>
          </div>
        </ng-template>
      </ngb-panel>
      <ngb-panel title="Corte" class="prt bg-none">
        <ng-template ngbPanelContent>
          <div class="form-check" *ngFor="let entalle of entalles">
            <input class="form-check-input" type="checkbox" [value]="entalle" (change)="onFilterChange($event, 'corte')">
            <label class="form-check-label">{{ entalle | capitalize }}</label>
          </div>
        </ng-template>
      </ngb-panel>
      <ngb-panel title="Color" class="prt bg-none">
        <ng-template ngbPanelContent>
          <div class="form-check" *ngFor="let color of colores">
            <input class="form-check-input" type="checkbox" [value]="color" (change)="onFilterChange($event, 'color')">
            <label class="form-check-label">{{ color | capitalize }}</label>
          </div>
        </ng-template>
      </ngb-panel>
    </ngb-accordion>
  </form>
  