<div *ngIf="isLoading" class="text-center">
  <p>Cargando...</p>
</div>

<div *ngIf="!isLoading && producto">
  <div class="container mt-5">
    <h2>MEN'S FASHION SHOP - INFO POLOS</h2>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <div class="col-3">
            <div *ngFor="let imagen of imagenesSecundarias" (click)="cambiarImagenPrincipal(imagen)">
              <img [src]="imagen" class="img-fluid mb-2" alt="Imagen secundaria">
            </div>
          </div>
          <div class="col-9">
            <img [src]="imagenPrincipal" class="img-fluid" alt="Imagen principal">
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <h2>{{ producto.nombre }}</h2>
        <p>{{ producto.marca.nombre }}</p>
        <p>
          <strong>De:</strong>
          <span class="text-muted text-decoration-line-through">S/. {{ producto.precioRegular }}</span>
        </p>
        <p>
          <strong>A:</strong> S/. {{ producto.precioVenta }} 
        </p>
        <p>
          <strong>Descuento:</strong> S/. {{ producto.precioRegular - producto.precioVenta }}
        </p>
        <p class="btn btn-danger">
          <strong>20% DSCTO.</strong>
        </p>
        <p><strong>Colores Disponibles:</strong></p>
        <div>
          <button *ngFor="let color of producto.color?.split(',')" [style.backgroundColor]="color.trim()" class="btn-color"></button>
        </div>
        <p><strong>Tallas:</strong></p>
        <div class="btn-group">
          <button *ngFor="let talla of producto.tallas" class="btn btn-outline-secondary">{{ talla.nombre }}</button>
        </div>
        <div class="cantidad-container mt-3">
          <label for="cantidad" class="cantidad-label">CANTIDAD:</label>
          <select id="cantidad" name="cantidad" class="cantidad-select">
            <option *ngFor="let i of [1,2,3,4,5]" [value]="i">{{ i }} unidad</option>
          </select>
        </div>
        <div class="mt-3">
          <button class="btn btn-warning">Añadir al carrito</button>
        </div>
      </div>
    </div>
  </div>
</div>
