<div class="container" *ngIf="producto">
  <div class="row">
    <div class="col-6">
      <div class="image-gallery">
        <div class="secondary-images">
          <img *ngFor="let imageUrl of producto?.imagenUrlSec" 
               [src]="'http://localhost:8080/uploads/' + imageUrl?.trim()" 
               alt="{{ producto.nombre }}" 
               (click)="selectImage(imageUrl)" 
               [class.selected]="imageUrl === selectedImage">
        </div>
        <div class="main-image zoom-container">
          <img [src]="'http://localhost:8080/uploads/' + selectedImage" alt="{{ producto.nombre }}" class="zoom-image">
        </div>
      </div>
      <div class="tabla">
        <div class="tabs">
          <button (click)="selectedTab = 'descripcion'" [class.active]="selectedTab === 'descripcion'">DESCRIPCIÓN</button>
          <button (click)="selectedTab = 'cambios'" [class.active]="selectedTab === 'cambios'">CAMBIOS Y DEVOLUCIONES</button>
        </div>
        <div class="tab-content" *ngIf="selectedTab === 'descripcion'">
          <div class="descripcion">
            <p *ngFor="let key of keys">
              <strong>{{ key }}</strong> <span>{{ descripcion[key] }}</span>
            </p>
          </div>
        </div>
        <div class="tab-content" *ngIf="selectedTab === 'cambios'">
          <p>
            Toda solicitud de cambio de productos adquiridos en la tienda virtual, deberá realizarse a través de 
            servicioalcliente@tiendasel.com dentro de los 30 días después de la recepción del pedido. Los productos como 
            ropa interior, mercadería en liquidación y zapatillas deportivas (Códigos: 3ZDTXD01, 3ZDTXD02, 3ZDTXD03) no 
            están sujetos a cambios ni devoluciones.
          </p>
        </div>
      </div>
    </div>
    <div class="col-6">
      <h1 class="product-name">{{ producto.nombre }}</h1>
      <h3 class="product-marca">{{ producto.marca.nombre }}</h3>
      <div class="prices">
        <div class="price-line-regular">
          <span class="price-label-regular">De:</span>
          <span class="regular-price">S/{{ producto.precioRegular }}</span>
        </div>
        <div class="price-line-discount">
          <span class="price-label-discount">A:</span>
          <span class="discount-price">S/{{ producto.precioVenta }}</span>
        </div>
      </div>
      <div class="decimal-discount">DESCUENTO DE: S/{{ descuento | number: '1.2-2' }}</div>
      <div class="percent-discount">{{ descuentoPorcentual | number: '1.0-0' }}% DSCTO</div>

      <p class="label-colors">COLORES DISPONIBLES:</p>
      <div class="color-options">
        <button class="button-colors" 
                *ngFor="let color of colores" 
                (click)="seleccionarColor(color)"
                [ngClass]="color.toLowerCase()"
                [class.selected]="color === colorSeleccionado">
        </button>
      </div>

      <p class="label-sizes">TALLAS:</p>
      <div class="talla-options">
        <button *ngFor="let talla of ['S', 'M', 'L', 'XL']"
                (click)="seleccionarTalla(talla)"
                [class.selected]="tallaSeleccionada === talla"
                [class.unavailable]="!isTallaDisponible(talla)"
                [class.available]="isTallaDisponible(talla)">
          {{ talla }}
        </button>
      </div>
      
      <div class="quantity-container">
        <p>CANTIDAD:</p>
        <div class="quantity">
          <button (click)="ajustarCantidad(-1)">-</button>
          <input type="number" min="1" [max]="stockDisponible" [(ngModel)]="cantidad">
          <button (click)="ajustarCantidad(1)">+</button>
        </div>
      </div>
      <div class="mensaje-stock" *ngIf="mensajeStock">{{ mensajeStock }}</div>

      <div class="mensaje-carrito" *ngIf="mensajeCarrito">{{ mensajeCarrito }}</div>

      <button class="add-to-cart-button" (click)="agregarAlCarrito()">AÑADIR AL CARRITO</button>
    </div>
  </div>
</div>
