.container {
  margin-top: 20px;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.btn-color {
  width: 30px;
  height: 30px;
  border: 1px solid #ddd;
  margin-right: 5px;
}

.cantidad-container {
  display: flex;
  align-items: center;
}

.cantidad-label {
  margin-right: 10px;
}

.cantidad-select {
  width: 100px;
}
