<div class="container">
  <div class="row">
    <div class="col-3">
      <app-product-filter (filterChange)="onFilterChange($event)"></app-product-filter>
    </div>
    <div class="col-9 products-container">
      <a [routerLink]="['/producto', product.id]" *ngFor="let product of filteredProducts">
        <app-product-card 
          [nombre]="product.nombre"
          [marca]="product.marca.nombre"
          [imagenUrl]=" 'http://localhost:8080/uploads/' + product.imagenUrl"
          [precioRegular]="product.precioRegular"
          [precioDescuento]="product.precioVenta"
          [descuento]="product.descuento">
        </app-product-card>
      </a>
    </div>
  </div>
</div>
