<p>usuario-info works!</p>
<div class="card">
    <div class="card-header text-left  ">
        <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.pngwing.com%2Fes%2Fsearch%3Fq%3Dusuario&psig=AOvVaw2JlM-TT-J5n09O4e6DrijO&ust=1718412742071000&source=images&cd=vfe&opi=89978449&ved=0CBIQjRxqFwoTCKj2uLvw2YYDFQAAAAAdAAAAABAE" alt="Men's Fashion Shop" class="img-fluid mb-5 ">
            <h2>Hola,</h2>
            <h2>Fernando Tomayo !</h2></div>
</div>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-4">
            <ul class="list-group ">
              <li class="list-group-item font-weight-bold">
                <button class="btn btn-link" >Datos personales</button>
              </li>
              <li class="list-group-item">
                <button class="btn btn-link" >Configurar mi cuenta</button>
              </li>
              <li class="list-group-item">
                <button class="btn btn-link" >Mis compras</button>
              </li>
              <li class="list-group-item">
                <button class="btn btn-link" >Direcciones</button>
              </li>
              <li class="list-group-item">
                <button class="btn btn-link" >Métodos de pago</button>
              </li>
              <li class="list-group-item">
                <button class="btn btn-link" >Cerrar sesión</button>
              </li>
            </ul>
          </div>
      <div class="col-md-8">
        <h3>Editar Datos Personales: </h3>
        <form >
          <div class="form-group">
            <label for="firstName">Nombre: </label>
            <input type="text" class="form-control" id="firstName" name="firstName" />
          </div>
          <div class="form-group">
            <label for="lastName">Apellidos</label>
            <input type="text" class="form-control" id="lastName"  name="lastName" />
          </div>
          <div class="form-group">
            <label for="dni">DNI</label>
            <input type="text" class="form-control" id="dni"  name="dni" />
          </div>
          <div class="form-group">
            <label for="phone">Celular</label>
            <input type="text" class="form-control" id="phone" name="phone" />
          </div>
          <div class="form-group">
            <label for="email">Correo electrónico</label>
            <input type="email" class="form-control" id="email"  name="email" />
          </div>
          <button type="submit" class="btn btn-warning">Guardar</button>
        </form>
      </div>
    </div>
  </div>

  <br>
  